
@font-face {
  font-display: swap;
  font-family: 'Silver';
  font-style: normal;
  font-weight: 400;
  src:  
       url('blogbyzyf.test.upcdn.net/imgs/Silver.woff2') format('woff2'),
}
@font-face {
  font-display: swap;
  font-family: 'Code';
  font-style: normal;
  font-weight: 400;
  src:  
       url('blogbyzyf.test.upcdn.net/imgs/CascadiaMono.woff2') format('woff2'),
}

