:root {
  --maincolor: #F02494;
  --bordercl: rebeccapurple;
  --callouctcolor: dodgerblue;
  --hovercolor: navy;
  --darkMaincolor: #28F6C7
}

html {
  color: #232333;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.6em
}

body {
  display: block;
  margin: 8px
}

* {
  -webkit-tap-highlight-color: transparent
}

::selection {
  background: var(--maincolor);
  color: #fff
}

article p {
  margin-top: 1rem;
  margin-bottom: 0;
  text-indent: 2rem
}

article blockquote p {
  text-indent: 0
}

article ul,
dl,
ol {
  margin-left: 1rem
}

hr {
  border: 0;
  border-top: 3px dotted var(--bordercl);
  margin: 1em 0
}

blockquote {
  border-left: 3px solid var(--bordercl);
  color: #737373;
  margin: 0;
  padding-left: 1em
}

blockquote p {
  position: relative;
  transform: translateY(6px)
}

a {
  font-family: Silver, sans-serif;
  font-size: 1.6rem;
  line-height: 1rem;
  position: relative;
  color: inherit;
  text-decoration: none;
  text-indent: 0;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
  border-bottom: 3px solid var(--maincolor)
}

a:hover {
  background-color: var(--hovercolor);
  color: #fff
}

.SiteTitle {
  font-size: 2.2rem;
  padding-top: 0
}

.title a {
  padding-top: 13px
}

ul {
  list-style: none;
  padding-left: 2ch
}

.description,
.meta,
.tldr,
li,
p,
td,
th,
time {
  font-family: Silver, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  width: auto;
  letter-spacing: .12px
}

li p {
  text-indent: 0
}

.meta {
  color: #999
}

strong {
  letter-spacing: 1px
}

ul>li::before {
  content: '* ';
  font-weight: 700
}

ul li a {
  transform: translateY(-2px)
}

img {
  border: 3px solid #ececec;
  max-width: 100%
}

.title-img {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 5px
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%
}

figure img {
  max-height: 500px
}

@media screen and (min-width:600px) {
  figure {
    padding: 0 40px
  }
}

figure h4 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 1em
}

figure h4::before {
  content: '↳ '
}

h1 a {
  line-height: 1.7rem
}

code {
  background-color: #ececec;
  padding: .1em .2em;
  font-family: Code, sans-serif;
  font-size: 1rem
}

pre {
  background-color: #ececec;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, .2);
  color: inherit
}

pre code {
  background-color: transparent;
  color: inherit;
  padding: 0
}

.content {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 800px;
  padding-left: 1ch;
  word-wrap: break-word
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  line-height: 2.5em
}

header .main {
  font-size: 1.5rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Silver, sans-serif;
  font-size: 2rem;
  margin-top: 2.4rem;
  margin-bottom: .1rem;
  letter-spacing: 1px
}

h1 {
  font-size: 3rem;
  line-height: 1.1
}

h2 {
  font-size: 2.3rem
}

h3 {
  font-size: 2.1rem
}

h1::before {
  color: var(--maincolor);
  content: '# ';
  font-size: 2.4rem
}

h2::before {
  color: var(--maincolor);
  content: '## '
}

h3::before {
  color: var(--maincolor);
  content: '### '
}

h4::before {
  color: var(--maincolor);
  content: '#### '
}

h5::before {
  color: var(--maincolor);
  content: '##### '
}

h6::before {
  color: var(--maincolor);
  content: '###### '
}

h1 a {
  font-size: 2.4rem
}

.body h1 {
  font-size: 2.8rem
}

.description h1 {
  font-size: 2rem
}

.toc {
  background-color: #ececec;
  color: #232333;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 5px;
  display: inline-block
}

footer {
  display: flex;
  align-items: center;
  border-top: .4rem dotted var(--bordercl);
  padding: 2rem 0;
  margin-top: 2rem
}

.soc {
  display: flex;
  align-items: center;
  border-bottom: none
}

.border {
  margin-left: .5rem;
  margin-right: .5rem;
  border: 1px solid
}

.footer-info {
  font-family: Silver, sans-serif;
  font-size: 1.5rem;
  padding: var(--footer-padding);
  position: relative;
  transform: translateY(4px)
}

.title h1 {
  margin-bottom: 0;
  font-size: 3.5rem
}

time {
  color: grey
}

article .title {
  margin-top: 5rem;
  margin-bottom: 0
}

.callout {
  background-color: var(--callouctcolor);
  color: #fff;
  padding: 1em
}

.callout p {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0
}

.callout a {
  border-bottom: 3px solid #fff
}

.callout a:hover {
  background-color: #fff;
  color: var(--callouctcolor)
}

.site-description p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem
}

.tags li::before {
  content: "🏷 "
}

.tags a {
  border-bottom: 3px solid var(--maincolor)
}

.tags a:hover {
  color: #fff;
  background-color: var(--hovercolor)
}

svg {
  max-height: 15px
}

.soc:hover {
  color: #fff
}

.draft-label {
  color: var(--bordercl);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: #f9f2f4
}

.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch
}

.highlight pre code[class*=language-] {
  -webkit-overflow-scrolling: touch
}

.highlight pre code[class*=language-]::before {
  background: #000;
  border-radius: 0 0 .25rem .25rem;
  color: #fff;
  font-size: 12px;
  letter-spacing: .025rem;
  padding: .1rem .5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class=language-js]::before {
  content: "js";
  background: #f7df1e;
  color: #000
}

.highlight pre code[class*=language-yaml]::before,
.highlight pre code[class*=language-yml]::before {
  content: 'yaml';
  background: #f71e6a;
  color: #fff
}

.highlight pre code[class*=language-bash]::before,
.highlight pre code[class*=language-sh]::before,
.highlight pre code[class*=language-shell]::before {
  content: 'shell';
  background: green;
  color: #fff
}

.highlight pre code[class*=language-json]::before {
  content: 'json';
  background: #1e90ff;
  color: #000
}

.highlight pre code[class*=language-py]::before,
.highlight pre code[class*=language-python]::before {
  content: 'py';
  background: #00f;
  color: #ff0
}

.highlight pre code[class*=language-css]::before {
  content: 'css';
  background: #0ff;
  color: #000
}

.highlight pre code[class*=language-go]::before {
  content: 'Go';
  background: #0ff;
  color: #4169e1
}

.highlight pre code[class*=language-md]::before {
  content: 'Markdown';
  background: #4169e1;
  color: #f5f5f5
}

table {
  border-spacing: 0;
  border-collapse: collapse
}

table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: 2rem
}

table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5
}
